* {
  padding: 0;
  margin: 0;
}
.button-basic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 45px;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  color: #FFF;
  background-color: #686868;
  font-family: 'Segoe UI', sans-serif;
  cursor: pointer;
}
.login {
  background-color: #FC4850;
}
.signin {
  background-color: #1F4264;
}
.button-send-noti {
  width: 30%;
  height: 45px;
  border: none;
  color: #FFF;
  background-color: #1F4264;
  font-size: 17px;
  font-family: 'Segoe UI', sans-serif;
  border-radius: 4px;
}
.button-send-noti:hover {
  cursor: pointer;
}
.input-email-noti {
  width: 65%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  height: 23px;
  border: none;
  border: 2px solid #1F4264;
  border-radius: 4px;
  font-size: 1em;
  font-family: 'Segoe UI', sans-serif;
  color: #1F4264;
}
.input-email-noti::-webkit-input-placeholder {
  color: #1F4264;
}
.logo-web {
  height: 45px;
  width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313332;
  background-color: #FFF;
  border-radius: 4px;
}
nav.navbar-main {
  height: inherit;
  width: auto;
  font-family: 'Segoe UI', sans-serif;
}
ul.menu-nb {
  height: inherit;
  width: auto;
  display: flex;
  font-size: 15px;
}
ul > li.item-mn {
  list-style: none;
  display: inline-block;
  width: 90px;
  height: inherit;
  position: relative;
}
a.link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: inherit;
  text-decoration: none;
  color: #FFF;
}
a.link-item.link-submenu::after {
  margin-left: 5px;
  content: "\25BC";
  font-size: 7px;
}
a.active {
  color: #EAD252;
}
a.link-item:hover {
  color: #EAD252;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
ul.submenu {
  display: none;
  background-color: #313332;
  width: inherit;
  z-index: 1000;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 15px;
}
ul.submenu li.itm-mn {
  width: inherit;
  list-style: none;
  height: 45px;
}
ul.submenu li.itm-mn:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.item-mn:hover ul.submenu {
  display: block;
  position: absolute;
  top: 65px;
  left: 0;
}
.contnr-lyt-category {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: 200px;
}
.contnr-lyt-images {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: repeat(2, 210px);
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-template-areas: "img-lrg img-lrg img-sml-1 img-mdl-1 img-mdl-1" "img-lrg img-lrg img-mdl-2 img-mdl-2 img-sml-2";
}
.itm-lyt {
  position: relative;
}
.itm-lyt:hover .delay {
  display: flex;
  cursor: pointer;
}
.img-itm-lyt {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.itm-lyt.img-lrg {
  grid-area: img-lrg;
}
.img-smll-1 {
  grid-area: img-sml-1;
}
.img-mdl-1 {
  grid-area: img-mdl-1;
}
.img-mdl-2 {
  grid-area: img-mdl-2;
}
.img-smll-2 {
  grid-area: img-sml-2;
}
.delay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.contnr-lyt-brand {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 10px;
}
.lyt-ofertas {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-template-rows: 270px;
  grid-gap: 0 25px;
}
.lyt-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 0 25px;
}
.ttl-sectn {
  font-family: 'Segoe UI', sans-serif;
  color: #313332;
}
.header-main {
  width: 100%;
  height: 65px;
  background-color: #313332;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 3px rgba(49, 51, 50, 0.5);
}
.contnr-hedr {
  max-width: 1024px;
  width: 100%;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: inherit;
}
.hero {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
}
.hero__contnr-into {
  max-width: 960px;
  width: 100%;
  height: inherit;
  position: absolute;
}
.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.hero__filtr-img {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero__form-accss {
  max-width: 50%;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
.hero__txt {
  color: #FFF;
  font-size: 16px;
  line-height: 26px;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.hero__form-bttns {
  width: 350px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.category {
  max-width: 650px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.header-category {
  max-width: 500px;
  width: 100%;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  color: #313332;
}
.contnr-lyt-category {
  max-width: 1024px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.itm-lyt-category {
  position: relative;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}
.img-itm-lyt {
  border-radius: inherit;
}
.contnr-delay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 150px;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  width: 100%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  text-decoration: none;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  background-color: rgba(0, 0, 0, 0.5);
}
.space-contnrs {
  height: 65px;
  width: 100%;
}
.popular {
  width: 100%;
  height: auto;
}
.header-popular {
  max-width: 640px;
  width: 100%;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  color: #313332;
}
.brand {
  max-width: 960px;
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-brand {
  max-width: 345px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  color: #313332;
  text-align: left;
  margin-right: 50px;
}
.contnr-lyt-brand {
  width: 768px;
  height: 125px;
}
.item-brand {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #313332;
}
.img-itm-brand {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}
.img-itm-brand img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.notificaciones {
  max-width: 960px;
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.header-noti {
  max-width: 678px;
  width: 100%;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  color: #313332;
}
.form-noti {
  max-width: 678px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.ofertas {
  width: 100%;
  height: 335px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  background-color: #1F4264;
}
.contnr-ofertas {
  max-width: 960px;
  width: 100%;
  height: auto;
}
.img-ofer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.descrp-ofer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-family: 'Segoe UI', sans-serif;
  color: #FFF;
}
h1.ttl-ofer strong {
  color: #C64C38;
}
h1.ttl-ofer {
  font-size: 2em;
  display: block;
  margin-bottom: 30px;
}
p.txt-ofer {
  font-size: 16px;
  display: block;
}
.bttn-ofert.button-basic {
  margin-top: 30px;
}
.footer-main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #313332;
  color: #FFF;
  font-family: 'Segoe UI';
  border-top: 4px solid #EAD252;
}
.lyt-footer {
  max-width: 1024px;
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: inherit;
}
h1.ttl-item {
  font-size: 20px;
  margin-bottom: 15px;
}
p.descrp-item {
  font-size: 14px;
  margin-bottom: 10px;
}
div.social-media {
  height: 40px;
  width: 80%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
a.item-sm {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.img-icon-sm {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.copy {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #252628;
}
