@import "lib/_variables.less";
@import "lib/_mixins.less";

@import "base/_buttons.less";
@import "base/_inputs.less";
@import "base/_navbar.less";
@import "base/_layout.less";
@import "base/_typography.less";



// header
.header-main {
  .page-max-width(70px);
  background-color: @color-bckgrnd;
}

.contnr-hedr {
  .contnr-max-width(@width-contnr, inherit);
  .align-contnt-flexbox-row(space-between);
  background-color: inherit;
}

// hero
.hero {
  .page-max-width(400px);
  .align-contnt-flexbox-center;
  .margin-bttm-contnr;
  position: relative;
}

.contnr-into-hero {
  .contnr-into-max-width(960px, inherit);
  position: absolute;
}

.hero img {
  .image-cover;
}

.filtr-img {
  position: absolute;
  .color-bckgrnd-contnr-delay;
}

.form-accss {
  width: 60%;
  height: 400px;
  .align-contnt-flexbox-column(space-evenly, flex-start);
}

.txt-hero {
  width: 80%;
  color: #FFF;
  font-size: 16px;
  font-family: 'Segoe UI';
  .align-contnt-flexbox-column(@justify-contnt, flex-start);
  text-align: left;
}

.form-bttns {
  width: 350px;
  height: auto;
  .align-contnt-flexbox-row(space-between);
}

// categorias

.category {
  .contnr-max-width(960px);
  .margin-bttm-contnr;
  // border: 1px solid orange
}

.header-category {
  .contnr-header-sectns;
}

.contnr-lyt-category {
  .contnr-max-width(700px);
}

.itm-lyt-category {
  position: relative;
  border-radius: @brd-rds-bttn;
  font-family: @font-fmly-secnd;
}

.img-itm-lyt {
  border-radius: inherit;
}

.contnr-delay {
  .align-contnt-flexbox-center;
  position: absolute;
  top: 150px;
  height: 50px;
  width: 100%;
  color: #FFF;
  text-decoration: none;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  background-color: @color-bckgrnd-cntnr-delay;
}


// popular

.popular {
  .page-max-width;
}

.header-popular {
  .contnr-header-sectns;
}

// marcas productos

.brand {
  .contnr-max-width(960px, 300px);
  .align-contnt-flexbox-center;
}

.header-brand {
  max-width: 345px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-family: @font-fmly-prmry;
  color: @color-primary;
  margin-right: 50px;
}

.contnr-lyt-brand {
  // cambiar nombre de clase y llamar parcial lyt
  width: 768px;
  height: 60%;
}

.item-brand {
  width: 100%;
  height: 100%;
  .align-contnt-flexbox-center;
}

.img-itm-brand {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.img-itm-brand img {
  border-radius: 50%;
  .image-cover;
}


// Formulario de notificaciones

.notificaciones {
  .contnr-max-width(960px, 300px);
  .align-contnt-flexbox-column(space-evenly);
  .margin-bttm-contnr(30px);
}

.notificaciones .header-noti {
  .contnr-header-sectns;
  margin-bottom: initial;
  .contnr-max-width(678px, 120px);
}

.form-noti {
  .contnr-max-width(678px);
  .align-contnt-flexbox-row(space-between);
  // border: 1px solid orange;
}

// Oferta

.ofertas {
  .page-max-width(335px);
  .align-contnt-flexbox-row(center, flex-end);
  background-color: lightgrey;
}

.limt-ofertas {
  .contnr-into-max-width(960px);
}

.img-ofer img {
  .image-cover;
}

.descrp-ofer {
  .align-contnt-flexbox-column(space-between);
  font-family: @font-fmly-prmry;
  color: #FFF;
  padding-bottom: 60px;
}

h1.ttl-ofer strong {
  color: #C64C38;
}

h1.ttl-ofer {
  font-size: 32px;
  display: block;
}

p.txt-ofer {
  font-size: 16px;
  display: block;
}

// Footer main

.footer-main {
  .page-max-width;
  .align-contnt-flexbox-column;
  background-color: @color-primary;
  color: #FFF;
  font-family: 'Segoe UI';
  border-top: 4px solid #EAD252;
}

.lyt-footer {
  .contnr-into-max-width;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: inherit;
}

h1.ttl-item {
  font-size: 20px;
  margin-bottom: 15px;

}

p.descrp-item {
  font-size: 14px;
  margin-bottom: 10px;
}

.copy {
  .page-max-width(50px);
  .align-contnt-flexbox(row);
  background-color: @color-prmry-xtr; 
}

.social-media {
  height: 45px;
  width: 90%;
  .align-contnt-flexbox-row(space-between);
}

.itm-sm {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: lightgray;
  cursor: pointer;
}
