@import "lib/_variables.less";
@import "lib/_mixins.less";

@import "base/_buttons.less";
@import "base/_positions.less";
@import "base/_navbar.less";
@import "base/_layout.less";

.header-main {
  .page-max-width(70px);
  background-color: @color-bckgrnd;
}

.contnr-hedr {
  background-color: inherit;
  .contnr-max-width(@width-contnr, inherit);
  .align-contnt-flexbox-row(space-between)
}

.hero {
  .page-max-width(400px);
  .align-contnt-flexbox-center;
  position: relative;
}

.contnr-into-hero {
  .contnr-into-max-width(960px, inherit);
  position: absolute;
}

.hero img {
  .image-cover;
}

.filtr-img {
  position: absolute;
  .color-bckgrnd-contnr-delay;
}

.form-accss {
  width: 45%;
  height: 400px;
  .align-contnt-flexbox-column(space-evenly, flex-end);
}

.txt-hero {
  width: 80%;
  color: #FFF;
  font-size: 16px;
  font-family: 'Segoe UI';
  .align-contnt-flexbox-column(@justify-contnt, flex-end);
  text-align: end;
}

.form-bttns {
  width: 350px;
  height: auto;
  .align-contnt-flexbox-row(space-between);
}

.menu-servcs {
  width: 100%;
  height: 350px;
}

.prodcts-gendr {
  width: 100%;
  height: 350px;
  .align-contnt-flexbox-center;
}

.limt-cat {
  .contnr-max-width(678px, inherit);
  .align-contnt-flexbox-row(space-evenly);
}

.accesorios {
  .contnr-max-width(768px, 300px);
  .align-contnt-flexbox-center;
}

.otros-items {
  width: 100%;
  height: 300px;
}

.contnr-lyt-c4 {
  // cambiar nombre de clase y llamar parcial lyt

  width: 768px;
  height: 60%;
}

.item-accsors {
  width: 100%;
  height: 100%;
  .align-contnt-flexbox-center;
}

.img-itm-acc {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.img-itm-acc img {
  border-radius: 50%;
  .image-cover;
}

.ofertas {
  .page-max-width(335px);
  .align-contnt-flexbox-row(center, flex-end);
  background-color: lightgrey;
}

.limt-ofertas {
  .contnr-into-max-width(960px);
}

.img-ofer {
  width: 100%;
  height: 100%;
}

.img-ofer img {
  .image-cover;
}

.descrp-ofer {
  .align-contnt-flexbox-column(space-between);
  font-family: @font-fmly-prmry;
  color: #FFF;
  padding-bottom: 60px;
}

h1 strong {
  color: #C64C38;
}

h1.ttl-ofer {
  font-size: 32px;
  display: block;
}

p.txt-ofer {
  font-size: 16px;
  display: block;
}

.footer-main {
  .page-max-width;
  .align-contnt-flexbox-column;
  background-color: @color-primary;
  color: #FFF;
  font-family: 'Segoe UI';
  border-top: 4px solid #EAD252;
}

.lyt-footer {
  .contnr-into-max-width;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: inherit;
}

h1.ttl-item {
  font-size: 20px;
  margin-bottom: 15px;
}

p.descrp-item {
  font-size: 14px;
  margin-bottom: 10px;
}

.copy {
  .page-max-width(50px);
  .align-contnt-flexbox(row);
  background-color: @color-prmry-xtr; 
}

.social-media {
  height: 45px;
  width: 90%;
  .align-contnt-flexbox-row(space-between);
}

.itm-sm {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: lightgray;
  cursor: pointer;
}