.button-basic {
  .align-contnt-flexbox-center;
  width: @width-bttn;
  height: @height-bttn;
  border: none;
  text-decoration: none;
  border-radius: @brd-rds-bttn;
  color: @color-bttn-txt;
  background-color: @color-bttn-basic;
  font-family: @font-primary;
  cursor: pointer;
}

.login {
  background-color: @color-bttn-login;
}
.signin {
  background-color: @color-bttn-signin;
}

.button-send-noti {
  width: 30%;
  height: @height-bttn;
  border: none;
  color: @color-bttn-txt;
  background-color: @color-bttn-signin;
  font-size: 17px;
  font-family: @font-primary;
  border-radius: @brd-rds-bttn;
  &:hover {
    cursor: pointer;
  }
}