.button-send-noti {
  width: 30%;
  height: 45px;
  border: none;
  border: 1px solid @color-bttn-basic;
  color: @color-bttn-basic;
  background-color: #FFF;
  font-size: 17px;
  font-family: @font-fmly-prmry;
  border-radius: 4px;
  &:hover {
    background-color: @color-bttn-basic;
    color: #FFF;
    cursor: pointer;
  }
}