.input-email-noti {
  width: 65%;
  padding-top: @padding-top-bttm;
  padding-bottom: @padding-top-bttm;
  padding-left: @padding-left;
  height: 23px;
  border: none;
  border: @brd-input @color-input;
  border-radius: @brd-rds-bttn;
  font-size: 1em;
  font-family: @font-primary;
  color: @color-elemts-form;
}
.input-email-noti::-webkit-input-placeholder {
  color: @color-elemts-form;
}