.logo-web {
  height: 45px;
  width: 115px;
  .align-contnt-flexbox-center;
  color: @color-primary;
  background-color: #FFF;
  border-radius: 4px;
}

// no contiene color nav, ul.
nav.navbar-main {
  height: inherit;
  width: auto;
  font-family: @font-fmly-prmry;
}

ul.menu-nb {
  height: inherit;
  width: auto;
  display: flex;
  font-size: 15px;

}

ul > li.item-mn {
  list-style: none;
  display: inline-block;
  width: 90px;
  height: inherit;
  position: relative;
}

a.link-item {
  .align-contnt-flexbox-center;
  height: inherit;
  width: inherit;
  text-decoration: none;
  color: @color-txt-itm;
}

a.link-item.link-submenu::after {
  margin-left: 5px;
  content: "\25BC";
  font-size: 7px;
}


a.active {
  color: @color-itm-hover;
}

a.link-item:hover {
  color: @color-itm-hover;
  background-color: @color-bckgrnd-itm-hover;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

ul.submenu {
  display: none;
  background-color: @color-bckgrnd;
  width: inherit;
  z-index: 1000;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 15px;
}

ul.submenu li.itm-mn {
  width: inherit;
  list-style: none;
  height: 45px;
}

ul.submenu li.itm-mn:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.item-mn:hover ul.submenu {
  display: block;
  position: absolute;
  top: 65px;
  left: 0;
}